.navbarTitle {
    font-family:Open Sans;
    font-size:1.5em;
    margin-top:5px;
    color: #9b9b9b;
}

.navbarLink {
    font-family:Open Sans;
    font-size:1.5em;
    margin-top:10px;
    color: #9b9b9b;
}

.aboutTitle {
    padding-top:30px;
    font-family:Open Sans;
    text-align:center;
    font-size:5em;
    color: #9b9b9b;
}

/* This is the base for the regular thing so now I just need to put those into the main thing so if you want no animation
then use this thing
.aboutName {
    padding-top:10px;
    font-family:Open Sans;
    text-align:center;
    font-size:1.5em;
    color: #FFFFFF;
}
*/
.aboutNick {
    font-family:Open Sans;
    text-align:center;
    font-size:1em;
    color: #FFFFFF;
}


* {
  box-sizing: border-box;
}

.btn {
  background-color: rgb(25, 52, 73);
  border-radius: 5px;
  border: none;
  color: #fff;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
  background-color: #fff;
  color: rgb(25, 52, 73);
}
.btn:focus {
    outline: none;
}


.container {
    position: relative;
    display: flex;
    justify-center: center;
    align-items: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    width: 1200px;
}

.container .box {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 40px;
    background: #FFFFFF
    border-radius: 20px;
    transform-style: preserve-3d;
}

.container .box::before {
    content: 'DUB';
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 6em;
    font-weight: 900;
    color: #9b9b9b;
    opacity: 0;
    font-style: italic;
    transition: 0.5s;
}

.container .box::after {
    content: 'BER';
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 6em;
    font-weight: 900;
    color: #9b9b9b;
    opacity: 0;
    font-style: italic;
    transition: 0.5s;
}

.container .box:hover::before,
.container .box:hover::after {
    opacity: 0.1;
}

.container .box .aboutName {
    position: absolute;
    top:0px;
    left: 25%;
    font-family: Open Sans;
    text-align: center;
    font-size: 1.5em;
    color: #9b9b9b;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    transition: 0.5s;
    opacity: 0;
    z-index: 11;
}

.container .box:hover .aboutName {
    top: 300px;
    opacity: 1;
}

.container .box .aboutNick {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,75px);
    color: #9b9b9b;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}
.container .box:hover .aboutNick {
    bottom: 30px;
    opacity: 1;
}

.container .box .aboutImage {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 300px;
    transition: 0.5s;
    z-index: 9;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-50%,-50%,75px);
    border-radius: 50%;

}

.container .box:hover .aboutImage {
    transform: translate3d(-50%, -50%, 100px);
}



/* <!-- This is the stuff that we will be using to create the buttons -->
.butt {
   border: 1px outset blue;
   background-color: lightBlue;
   height:50px;
   width:50px;
   cursor:pointer;
}

.butt:hover {
   background-color: blue;
   color:white;
}
*/