.navbarTitle {
    font-family:Open Sans;
    font-size:1.5em;
    margin-top:5px;
    color: #9b9b9b;
}

.navbarLink {
    font-family:Open Sans;
    font-size:1.5em;
    margin-top:10px;
    color: #9b9b9b;
}