.navbarTitle {
    font-family:Open Sans;
    font-size:1.5em;
    margin-top:5px;
    color: #9b9b9b;
}

.navbarLink {
    font-family:Open Sans;
    font-size:1.5em;
    margin-top:10px;
    color: #9b9b9b;
}

.aboutTitle {
    padding-top:30px;
    font-family:Open Sans;
    text-align:center;
    font-size:5em;
    color: #9b9b9b;
}

.aboutName {
    padding-top:10px;
    font-family:Open Sans;
    text-align:center;
    font-size:1.5em;
    color: #9b9b9b;
}

.aboutNick {
    font-family:Open Sans;
    text-align:center;
    font-size:1em;
    color: #9b9b9b;
}

* {
  box-sizing: border-box;
}

.btn {
  background-color: rgb(25, 52, 73);
  border-radius: 5px;
  border: none;
  color: #fff;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
  background-color: #fff;
  color: rgb(25, 52, 73);
}
.btn:focus {
    outline: none;
}
/* <!-- This is the stuff that we will be using to create the buttons -->
.butt {
   border: 1px outset blue;
   background-color: lightBlue;
   height:50px;
   width:50px;
   cursor:pointer;
}

.butt:hover {
   background-color: blue;
   color:white;
}
*/