{% extends "base.html" %}

{% block about %}
<h1 class="aboutTitle">meet the team</h1>
<div class="row justify-content-around" style="margin-top:50px">
{% for data in groupdatalist: %}
{% set name = data["name"] %}
{% set firstname = data["firstname"] %}
{% set github = data["github"] %}
{% set insta = data["insta"] %}
{% set nickname = data["nickname"] %}

<div>
    <img src="static/images/pixel{{firstname}}.png" width="200px" height="200px">
    <p class="aboutName">{{name}}</p>
    <p class="aboutNick">"{{nickname}}"</p>
</div>

{% endfor %}
</div>

{% endblock %}