{% extends "base.html" %}

{% block about %}
<h1 class="aboutTitle">meet the team</h1>
<center><div class="row justify-content-around" style="width:80%;margin-top:50px">
{% for data in groupdatalist: %}
{% set name = data["name"] %}
{% set color = data["color"] %}
{% set firstname = data["firstname"] %}
{% set social1 = data["social1"] %}
{% set social2 = data["social2"] %}
{% set nickname = data["nickname"] %}

<div class="container">
    <div class="box" data-tilt>
        <div class="circle"></div>
        <img class="aboutImage" src="static/images/pixel{{firstname}}.png" width="200px" height="200px">
        <p class="aboutName">{{name}}</p>
        <p class="aboutNick">"{{nickname}}"</p>
        <p class="aboutSocial1"><a href="{{social1}}"><i style="color:{{color}}" class="fa fa-github"></i></a></p>
        <p class="aboutSocial2"><a href="{{social2}}"><i style="color:{{color}}" class="fa fa-instagram"></i></a></p>
    </div>
</div>
<!-- Code for vanilla-tilt.min
<script type="text/javascript" src="vanilla-tilt.min.js"></script>
<script type="text/javascript">
    VanillaTilt.init(document.querySelectorAll(".box"), {
		max: 25,
		speed: 400
	});
</script>
-->
<script type="text/javascript" src="vanilla-tilt.js"></script>
<script type="text/javascript">
    VanillaTilt.init(document.querySelector(".box"), {
        max: 25,
        speed: 400
    });
</script>
{% endfor %}
</div></center>

{% endblock %}