{% extends "selector.html" %}

{% block beatboard %}

<div style="width:100%;padding-top:30px;">
    <center>
        <div class="soundboardRow row justify-content-center">
            {% for data in row1: %}
            {% set name = data["name"] %}
            {% set sound = data["sound"] %}
            {% set key = data["key"] %}
            {% set color = data["color"] %}

            <div style="padding-left:10px;">
                <div class="key" style="width:100px;height:100px;background-color:{{color}}" onclick="playAudio('/static/sounds/beatboard/{{sound}}.wav')">
                    <div style="padding-top:35%">
                        <p class="keyText">{{name}}</p>
                        <p class="keyText">{{key}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </center>
</div>

<div style="width:100%;padding-left: 100px;">
    <center>
        <div class="soundboardRow row justify-content-center">
            {% for data in row2: %}
            {% set name = data["name"] %}
            {% set sound = data["sound"] %}
            {% set key = data["key"] %}
            {% set color = data["color"] %}

            <div style="padding-left:10px;">
                <div class="key" style="width:100px;height:100px;background-color:{{color}}" onclick="playAudio('/static/sounds/beatboard/{{sound}}.wav')">
                    <div style="padding-top:35%">
                        <p class="keyText">{{name}}</p>
                        <p class="keyText">{{key}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </center>
</div>


<div style="width:100%;padding-left:90px;">
    <center>
        <div class="soundboardRow row justify-content-center">
            {% for data in row3: %}
            {% set name = data["name"] %}
            {% set sound = data["sound"] %}
            {% set key = data["key"] %}
            {% set color = data["color"] %}

            <div style="padding-left:10px;">
                <div class="key" style="width:100px;height:100px;background-color:{{color}}" onclick="playAudio('/static/sounds/beatboard/{{sound}}.wav')">
                    <div style="padding-top:35%">
                        <p class="keyText">{{name}}</p>
                        <p class="keyText">{{key}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </center>
</div>

<div style="width:100%;padding-left:20px;">
    <center>
        <div class="soundboardRow row justify-content-center">
            {% for data in row4: %}
            {% set name = data["name"] %}
            {% set sound = data["sound"] %}
            {% set key = data["key"] %}
            {% set color = data["color"] %}

            <div style="padding-left:10px;">
                <div class="key" style="width:100px;height:100px;background-color:{{color}}" onclick="playAudio('/static/sounds/beatboard/{{sound}}.wav')">
                    <div style="padding-top:35%">
                        <p class="keyText">{{name}}</p>
                        <p class="keyText">{{key}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </center>
</div>

{% endblock %}