{% extends "base.html" %}

{% block database %}
<div>
    <!-- Table block is dependent on table variable and dictionary setup -->
    <!-- Database things for the table -->
    <table>
        <tr>
            <th>Username</th>
            <th>BedWars Level</th>
            <th>SkyWars Wins</th>
            <th>BedWars Loot Boxes</th>
        </tr>
        <!-- Loop through rows in table -->
        {% for user in users %}
        <!-- build elements in table -->
        <tr>
            <th>{{ user.username }}</th>
            <th>{{ user.bedwarslevel }}</th>
            <th>{{ user.skywarswins }}</th>
            <th>{{ user.bedwarslootbox }}</th>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}