{% extends "eggbase.html" %}


{% block egg %}
<div style="padding-top:5%">
    <p class="tutorialTitle">yo yo yo welcome to easter egg page!</p>
</div>
<center><div style="padding-top:5%">
    <p class="tutorialTitle">who am i in computer science?</p>
    <div>
        <div style="max-width:100%" class="row justify-content-center">
            <div style="padding-top:2%">
                <a href="kevin"><img class="aboutImage" src="static/images/pixelkevin.png" width="200px" height="200px"></a>
            </div>
            <div style="width:48%; padding:2%">
                <ul class="tutorialText">
                    <li>I can build a Python/Flask web server, use Jinja templates, and efficiently develop frontends in HTML, CSS, and Bootstrap.</li>
                    <li>I have done DevOps on Linux, where I set up a Python/Flask server using Gunicorn & Nginx.</li>
                    <li>I can create my own domain using Internet Service Provider DNS records.</li>
                </ul>
                <p class="tutorialText" style="padding-left:55%">- kevin</p>
            </div>
        </div>
        <div style="max-width:100%" class="row justify-content-center">
            <div style="padding-top:2%">
                <img class="aboutImage" src="static/images/pixelabhijay.png" width="200px" height="200px">
            </div>
            <div style="width:48%; padding:2%">
                <ul class="tutorialText">
                    <li>I am a professional coder that has learned many different languages such as C, Objective-C, Python, HTML, CSS, and JavaScript.</li>
                    <li>I am working to become a master at each language.</li>
                </ul>
                <p class="tutorialText" style="padding-left:55%">- abhijay</p>
            </div>
        </div>
        <div style="max-width:100%" class="row justify-content-center">
            <div style="padding-top:2%">
                <img class="aboutImage" src="static/images/pixelkian.png" width="200px" height="200px">
            </div>
            <div style="width:48%; padding:2%">
                <ul class="tutorialText">
                    <li>I can create SQL databases, use API, and code the backend of websites and applications.</li>
                    <li> I am comfortable with working with Linux and with various coding languages, such as HTML, CSS, JavaScript, Python, and Bash.</li>
                </ul>
                <p class="tutorialText" style="padding-left:55%">- kian</p>
            </div>
        </div>
    </div>
</div></center>



<div style="padding-top:5%"></div>
<script>

</script>

{% endblock %}