{% extends "base.html" %}

{% block index %}

<div class="row justify-content-center" style="padding-top:10%">

    <div style="width:40%;">
        <center>
            <div class="row justify-content-center">
                <div class="tutorialKey blueKey"><a><p>kick<br>q</p></a></div>
                <div class="tutorialKey greenKey"><a><p>snare<br>w</p></a></div>
            </div>
            <div class="row justify-content-center">
                <div class="tutorialKey redKey"><a><p>hat<br>a</p></a></div>
                <div class="tutorialKey yellowKey"><a><p>yuh<br>s</p></a></div>
            </div>
        </center>
    </div>

    <div style="width:40%;">
        <center>
            <h1 class="tutorialTitle">how to use slackboard:</h1>
            <ul class="tutorialText">
                <li>click the boxes to play its sound</li>
                <li>press the respective key on your keyboard to play its sound</li>
                <li>produce your song</li>
                <li>record your song</li>
                <li>save and share your song</li>
            </ul>
        </center>
    </div>

</div>


{% endblock %}