{% extends "base.html" %}

{% block index %}

<div class="row justify-content-center" style="padding-top:10%;max-width:100%">

    <div style="width:40%;">
        <center>
            <div class="soundboardRow row justify-content-center">
                {% for data in trow1: %}
                {% set name = data["name"] %}
                {% set sound = data["sound"] %}
                {% set key = data["key"] %}
                {% set color = data["color"] %}

                <div style="padding-left:10px;">
                    <div class="tutorialKey key" style="width:175px;height:175px;background-color:{{color}}" onclick="playAudio('/static/sounds/{{sound}}.mp3')">
                        <div style="padding-top:35%">
                            <p class="tutorialKeyText">{{name}}</p>
                            <p class="tutorialKeyText">{{key}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="soundboardRow row justify-content-center">
                {% for data in trow2: %}
                {% set name = data["name"] %}
                {% set sound = data["sound"] %}
                {% set key = data["key"] %}
                {% set color = data["color"] %}

                <div style="padding-left:10px;">
                    <div class="tutorialKey key" style="width:175px;height:175px;background-color:{{color}}" onclick="playAudio('/static/sounds/{{sound}}.mp3')">
                        <div style="padding-top:35%">
                            <p class="tutorialKeyText">{{name}}</p>
                            <p class="tutorialKeyText">{{key}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </center>
    </div>

<!-- Hello -->

    <div style="width:40%;">
        <center>
            <h1 class="tutorialTitle">how to use slackb<a class="eggButton" href="egg"><span>o</span></a>ard:</h1>
            <ul class="tutorialText">
                <li>click the boxes to play its sound</li>
                <li>press the respective key on your keyboard to play its sound</li>
                <li>produce your song</li>
                <li>record your song</li>
                <li>save and share your song</li>
            </ul>
        <center><div style="margin-top:10%">
        <a class="letsGoBtn" href="soundboards">let's go!</a>
        </div></center>
        </center>
    </div>

</div>


{% endblock %}