{% extends "base.html" %}

{% block index %}

<div class="row justify-content-center" style="padding-top:10%">

    <div style="width:40%;">
        <center>
            <div class="row justify-content-center">
                <a href="#" onclick="yuhplay()"><div class="tutorialKey blueKey"><p>kick<br>q</p></div></a>
                <a href="#" onclick="yuhplay()"><div class="tutorialKey greenKey"><p>snare<br>w</p></div></a>
            </div>
            <div class="row justify-content-center">
                <a href="#" onclick="yuhplay()"><div class="tutorialKey redKey"><p>hat<br>a</p></div></a>
                <a href="#" onclick="yuhplay()"><div class="tutorialKey yellowKey"><p>yuh<br>s</p></div></a>
            </div>
        </center>
    </div>

    <div style="width:40%;">
        <center>
            <h1 class="tutorialTitle">how to use slackboard:</h1>
            <ul class="tutorialText">
                <li>click the boxes to play its sound</li>
                <li>press the respective key on your keyboard to play its sound</li>
                <li>produce your song</li>
                <li>record your song</li>
                <li>save and share your song</li>
            </ul>
        </center>
    </div>

</div>

<script>
    yuh = new Audio();
    yuh.src="yo.mp3";
    function yuhplay(){
        yuh.play():
    }
</script>

{% endblock %}