{% extends "eggbase.html" %}


{% block kevin %}
<div style="padding-top:5%">
    <p class="tutorialTitle">kevin's individual page</p>
</div>
<center><div style="padding-top:5%">
    <p class="tutorialTitle">who am i in computer science?</p>
    <div>
        <div style="max-width:100%" class="row justify-content-center">
            <div style="padding-top:2%">
                <a href="kevin"><img class="aboutImage" src="static/images/pixelkevin.png" width="200px" height="200px"></a>
            </div>
            <div style="width:48%; padding:2%">
                <ul class="tutorialText">
                    <li>I can build a Python/Flask web server, use Jinja templates, and efficiently develop frontends in HTML, CSS, and Bootstrap.</li>
                    <li>I have done DevOps on Linux, where I set up a Python/Flask server using Gunicorn & Nginx.</li>
                    <li>I can create my own domain using Internet Service Provider DNS records.</li>
                </ul>
                <p class="tutorialText" style="padding-left:55%">- kevin</p>
            </div>
        </div>
    </div>
</div></center>
<center><div style="padding-top:5%">
    <div style="width:90%" class="row justify-content-center">
        <div style="width:50%"><p class="tutorialTitle">individual links</p></div>
        <div style="width:30%">
            <ul class="tutorialText">
                <li><a target="_blank" href="https://docs.google.com/document/d/e/2PACX-1vTD6RzFchk_LOJAVJt_RxQYkSRhf1EkW632f6yxPS-0bxdVfAhrbVIGs_J3soYDbBUf_fKJlgBlJrGg/pub">individual journal</a></li>
                <li><a target="_blank" href="https://repl.it/@KevinDo6/kevinfamily?lite=true">individual coding</a></li>
                <li><a target="_blank" href="https://docs.google.com/presentation/d/1MI4WSLwYvsmv2wM5T7Sk74NVweQ8YBY2TGGnViK5mGk/edit?usp=sharing">strings
                    presentation</a></li>
                <li><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSd6ht-QdXTX1DygvavzNjdq1Wvmzxea3zUbxguhDv0eh2H3gg/viewform">strings
                    quiz</a></li>
            </ul>
        </div>
    </div>
</div></center>

<div style="padding-top:5%"></div>

{% endblock %}