{% extends "base.html" %}

{% block login %}
<!-- This is the login forms -->
<div class="row justify-content-center">
    <form id="form" method="post">
        <h1 style="margin-bottom:10px" class="tutorialTitle">log in</h1>
        <p><input size="40" type="text" name="username" placeholder="username" value="{{request.form.username }}" data-val-required="Username is required." required></p>
        <p><input size="40" type="password" name="password" placeholder="password" value="{{request.form.password }}" data-val-required="Password is required." required></p>
        <p style="text-align:center"><input type="submit" value="submit"></p>
        <p style="text-align:center">new to slackboard?<a style="padding-left:5px" href="signup">sign up</a></p>
    </form>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
</div>

{% endblock %}