{% extends "selector.html" %}

{% block soundboard1 %}

<div style="width:100%;padding-top:30px;">
    <center>
        <div class="row justify-content-center">
            <div class="tutorialKey"><img class="key" src="/static/images/bruhtile.png" width="100px"  onclick="playAudio('/static/sounds/bruh.mp3')"></div>
            <div class="tutorialKey" style="padding-left:10px;"><img class="key" src="/static/images/machinetile.jpg" width="100px" onclick="playAudio('/static/sounds/machine.mp3')"></div>
            <div class="tutorialKey" style="padding-left:10px;"><img class="key" src="/static/images/beeptile.png" width="100px" onclick="playAudio('/static/sounds/beep.mp3')"></div>
            <div class="tutorialKey" style="padding-left:10px;"><img class="key" src="/static/images/meattile.png" width="100px" onclick="playAudio('/static/sounds/meat.mp3')"></div>
            <div class="tutorialKey" style="padding-left:10px;"><img class="key" src="/static/images/hellotile.png" width="100px" onclick="playAudio('/static/sounds/hello.mp3')"></div>
            <div class="tutorialKey" style="padding-left:10px;"><img class="key" src="/static/images/playtile.png" width="100px" onclick="playAudio('/static/sounds/play.mp3')"></div>
            <div class="tutorialKey" style="padding-left:10px;"><img class="key" src="/static/images/swamptile.png" width="100px" onclick="playAudio('/static/sounds/swamp.mp3')"></div>
            <div class="tutorialKey" style="padding-left:10px;"><img class="key" src="/static/images/foodtile.png" width="100px" onclick="playAudio('/static/sounds/food.mp3')"></div>
            <div class="tutorialKey" style="padding-left:10px;"><img class="key" src="/static/images/ducktile.png" width="100px" onclick="playAudio('/static/sounds/duck.mp3')"></div>
            <div class="tutorialKey" style="padding-left:10px;"><img class="key" src="/static/images/blasttile.png" width="100px" onclick="playAudio('/static/sounds/blast.mp3')"></div>
        </div>
    </center>
</div>

<div style="width:100%;padding-left: 100px;">
    <center>
        <div class="row justify-content-center">
            <div class="tutorialKey"><img class="key" src="/static/images/bruhtile.png" width="100px"  onclick="playAudio('/static/sounds/bruh.mp3')"></div>
            <div class="tutorialKey" style="padding-left:10px;"><img class="key" src="/static/images/bruhtile.png" width="100px" onclick="playAudio('/static/sounds/bruh.mp3')"></div>
            <div class="tutorialKey" style="padding-left:10px;"><img class="key" src="/static/images/bruhtile.png" width="100px" onclick="playAudio('/static/sounds/bruh.mp3')"></div>
            <div class="tutorialKey" style="padding-left:10px;"><img class="key" src="/static/images/bruhtile.png" width="100px" onclick="playAudio('/static/sounds/bruh.mp3')"></div>
            <div class="tutorialKey" style="padding-left:10px;"><img class="key" src="/static/images/bruhtile.png" width="100px" onclick="playAudio('/static/sounds/bruh.mp3')"></div>
            <div class="tutorialKey" style="padding-left:10px;"><img class="key" src="/static/images/bruhtile.png" width="100px" onclick="playAudio('/static/sounds/bruh.mp3')"></div>
            <div class="tutorialKey" style="padding-left:10px;"><img class="key" src="/static/images/bruhtile.png" width="100px" onclick="playAudio('/static/sounds/bruh.mp3')"></div>
            <div class="tutorialKey" style="padding-left:10px;"><img class="key" src="/static/images/bruhtile.png" width="100px" onclick="playAudio('/static/sounds/bruh.mp3')"></div>
            <div class="tutorialKey" style="padding-left:10px;"><img class="key" src="/static/images/bruhtile.png" width="100px" onclick="playAudio('/static/sounds/bruh.mp3')"></div>
            <div class="tutorialKey" style="padding-left:10px;"><img class="key" src="/static/images/bruhtile.png" width="100px" onclick="playAudio('/static/sounds/bruh.mp3')"></div>
        </div>
    </center>
</div>


<div style="width:100%;padding-left:90px;">
    <center>
        <div class="row justify-content-center">
            <div class="tutorialKey"><img class="key" src="/static/images/bruhtile.png" width="100px"  onclick="playAudio('/static/sounds/bruh.mp3')"></div>
            <div class="tutorialKey" style="padding-left:10px;"><img class="key" src="/static/images/bruhtile.png" width="100px" onclick="playAudio('/static/sounds/bruh.mp3')"></div>
            <div class="tutorialKey" style="padding-left:10px;"><img class="key" src="/static/images/bruhtile.png" width="100px" onclick="playAudio('/static/sounds/bruh.mp3')"></div>
            <div class="tutorialKey" style="padding-left:10px;"><img class="key" src="/static/images/bruhtile.png" width="100px" onclick="playAudio('/static/sounds/bruh.mp3')"></div>
            <div class="tutorialKey" style="padding-left:10px;"><img class="key" src="/static/images/bruhtile.png" width="100px" onclick="playAudio('/static/sounds/bruh.mp3')"></div>
            <div class="tutorialKey" style="padding-left:10px;"><img class="key" src="/static/images/bruhtile.png" width="100px" onclick="playAudio('/static/sounds/bruh.mp3')"></div>
            <div class="tutorialKey" style="padding-left:10px;"><img class="key" src="/static/images/bruhtile.png" width="100px" onclick="playAudio('/static/sounds/bruh.mp3')"></div>
            <div class="tutorialKey" style="padding-left:10px;"><img class="key" src="/static/images/bruhtile.png" width="100px" onclick="playAudio('/static/sounds/bruh.mp3')"></div>
            <div class="tutorialKey" style="padding-left:10px;"><img class="key" src="/static/images/bruhtile.png" width="100px" onclick="playAudio('/static/sounds/bruh.mp3')"></div>
        </div>
    </center>
</div>

<div style="width:100%;padding-left:90px;">
    <center>
        <div class="row justify-content-center">
            <div class="tutorialKey"><img class="key" src="/static/images/bruhtile.png" width="100px"  onclick="playAudio('/static/sounds/bruh.mp3')"></div>
            <div class="tutorialKey" style="padding-left:10px;"><img class="key" src="/static/images/bruhtile.png" width="100px" onclick="playAudio('/static/sounds/bruh.mp3')"></div>
            <div class="tutorialKey" style="padding-left:10px;"><img class="key" src="/static/images/bruhtile.png" width="100px" onclick="playAudio('/static/sounds/bruh.mp3')"></div>
            <div class="tutorialKey" style="padding-left:10px;"><img class="key" src="/static/images/bruhtile.png" width="100px" onclick="playAudio('/static/sounds/bruh.mp3')"></div>
            <div class="tutorialKey" style="padding-left:10px;"><img class="key" src="/static/images/bruhtile.png" width="100px" onclick="playAudio('/static/sounds/bruh.mp3')"></div>
            <div class="tutorialKey" style="padding-left:10px;"><img class="key" src="/static/images/bruhtile.png" width="100px" onclick="playAudio('/static/sounds/bruh.mp3')"></div>
            <div class="tutorialKey" style="padding-left:10px;"><img class="key" src="/static/images/bruhtile.png" width="100px" onclick="playAudio('/static/sounds/bruh.mp3')"></div>
            <div class="tutorialKey" style="padding-left:10px;"><img class="key" src="/static/images/bruhtile.png" width="100px" onclick="playAudio('/static/sounds/bruh.mp3')"></div>
        </div>
    </center>
</div>


{% endfor %}

{% endblock %}