{% extends "base.html" %}

{% block profile %}

<div style="padding-top:5%">
    <center>
    <p class="title">personal profile</p>
    <p class="text" style="text-align:center">if you see this, it means you are logged in!</p>
    </center>
</div>
<center><div style="padding-top:5%;width:25%" class="row justify-content-between">
    <div>
        <img class="profileimg" src="static/images/defaultpfp.jpg">
    </div>
    <div>
        <!-- replace things with jinja -->
        <div  class="row justify-content-center">
            <div><p class="text">First Last</p></div>
            <div style="margin-left:35px"><p class="text">(Gender)</p></div>
        </div>
        <div  class="row justify-content-center">
            <div style="padding-top:8px"><p class="text">Favorite Sound:</p></div>
            <div class="key" style="margin-left:10px;width:50px;height:50px;background-color:red" onclick="playAudio('/static/sounds/bruh.mp3')">
                <div style="padding-top:35%">
                    <p class="keyText">bruh</p>
                </div>
            </div>
        </div>
        <div><p class="text">email@email.com</p></div>
    </div>
</div></center>

{% endblock %}