{% extends "base.html" %}

{% block profile %}

<div style="padding-top:5%">
    <center>
    <p class="title">personal profile</p>
    <p class="text" style="text-align:center">if you see this, it means you are logged in!</p>
    </center>
</div>
<div style="padding-top:5%;width:25%;margin:0 auto" class="row justify-content-between">
    <div>
        <img class="profileimg" src="static/images/defaultpfp.jpg">
    </div>
    <div>
        <!-- replace things with jinja -->
        <div class="row"><p class="text">Username</p></div>
        <div class="row">
            <div><p class="text">First Last</p></div>
            <div style="margin-left:35px"><p class="text">(Gender)</p></div>
        </div>
        <div class="row justify-content-center">
            <div style="padding-top:8px"><p class="text">Favorite Sound:</p></div>
            <div class="key" style="margin-left:10px;width:50px;height:50px;background-color:red" onclick="playAudio('/static/sounds/bruh.mp3')">
                <div style="padding-top:35%">
                    <p class="keyText">bruh</p>
                </div>
            </div>
            <div style="padding-top:10px;margin-left:10px"><a onClick="showEdit()" id="edit_checkbox"><i class="fas fa-pen"></i></a></div>
        </div>
        <div class="row"><p class="text">email@email.com</p></div>
    </div>
</div>

<div id="editFavSoundForms" style="padding-top:2%;display:none">
    <p class="text" style="text-align:center">edit favorite sound</p>
    <form id="editFavSound" method="post">
        <center><p><input type="file" name="filename" accept="image/*"></p></center>
        <center><p><input size="30" type="text" name="soundname" placeholder="sound name"></p></center>
        <center><p><input size="30" type="text" name="color" placeholder="hex color"></p></center>
        <center><p><input type="submit"></p></center>
    </form>
</div>

<div style="padding-top:5%"></div>

<script>
function showEdit() {
    var elem = document.getElementById('editFavSoundForms');
    if (elem.style.display === "none") {
    elem.style.display = "block";
    } else {
    elem.style.display = "none";
    }
}
</script>
{% endblock %}
