{% extends "base.html" %}

{% block selector %}
<div style="margin-top:50px">
<form name="form" method="post" target="self">
<center><div style="width:20%" class="d-flex justify-content-around">
    <div style="width:60%">
        <select class="selectForm form-control" id="page" name="page">
            <option value="electronic">memeboard</option>
            <option value="electronic">accoustic</option>
            <option value="electronic">blah</option>
        </select>
    </div>
    <div style="width:10%">
        <button type="submit" class="selectBtn"><i class="fa fa-music"></i></button>
    </div>
</div></center>
</form>
</div>

{% endblock %}