{% extends "base.html" %}

{% block selector %}
<div style="margin-top:50px">
<form name="form" method="post" target="_self">
<center><div style="width:20%" class="d-flex justify-content-around">
    <div style="width:60%">
        <select class="selectForm form-control" id="boardselect" name="boardselect">
            <option value="memeboard">memeboard</option>
            <option value="memeboard">accoustic</option>
            <option value="memeboard">blah</option>
        </select>
    </div>
    <div style="width:10%">
        <button type="submit" class="selectBtn"><i class="fa fa-music"></i></button>
    </div>
</div></center>
</form>
</div>
<center><div style="padding-top:15px"><p class="text" style="text-align:center">you might want to turn down your volume...</p></div></center>

{% block memeboard %}
{% endblock %}

{% endblock %}