{% extends "base.html" %}

{% block signup %}

<div class="row justify-content-center">
    <form id="form" method="post">
        <h1 style="margin-bottom:10px" class="tutorialTitle">sign up</h1>
        <p><input size="40" type="email" name="email" placeholder="email address" data-val-regex="Invalid email address format."
                  data-val-required="Email Address is required." required></p>
        <p>
            <input size="28" type="text" name="firstname" placeholder="username" data-val-required="Username is required." required>
            <select name="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
        </p>
        <p><input size="40" type="password" name="pasword" placeholder="password" data-val-required="Street Address is required." required></p>
        <p><input size="40" type="password" name="confirm_password" placeholder="confirm password"></p>
        <p style="text-align:center"><input type="submit" value="submit"></p>
        <p style="text-align:center">already have a slackboarder?<a style="padding-left:5px" href="login">log in</a></p>
    </form>
</div>

{% endblock %}
