{% extends "base.html" %}

{% block soundboard1 %}

<div style="width:40%;">
    <center>
        <div class="row justify-content-center">
            <div class="tutorialKey"><img class="key" src="/static/images/bruhtile.png" onclick="playAudio('/static/sounds/bruh.mp3')"></div>
            <div class="tutorialKey"><img class="key" src="/static/images/colatile.png" onclick="playAudio('/static/sounds/cola.mp3')"></div>
        </div>
        <div class="row justify-content-center">
            <div class="tutorialKey"><img class="key" src="/static/images/rickrolltile.png" onclick="playAudio('/static/sounds/rickroll.mp3')"></div>
            <div class="tutorialKey"><img class="key" src="/static/images/yotile.png" onclick="playAudio('/static/sounds/yo.mp3')"></div>
        </div>
    </center>
</div>

{% for data in blockdatalist: %}
{% set image = data["image"] %}
{% set sound = data["sound"] %}

<div style="width:40%;">
    <center>
        <div class="row justify-content-center">
            <div class="tutorialKey"><img class="key" src="{{image}}" onclick="playAudio('{{sound}}')"></div>
        </div>
    </center>
</div>

{% endfor %}

{% endblock %}